

.button2{
	display:block;
	font-size:30px;
	font-weight:bold;
	border:solid;
	width:200px;
	height:40px;
	margin:0 auto;
	position:relative;
}

.button2:hover{
	display:block;
	font-size:30px;
	font-weight:bold;
	border:solid;
	width:200px;
	height:40px;
	margin:0 auto;
	position:relative;
	border-color:blue;
}
